.right_col
{
	margin: 5px;
	padding: 10px;
	border-radius: 7px;
	
	width: 60%;
	float: right;
	
	background: -moz-linear-gradient(top, #f0f0fe, #cdcdcd); 
    background: -webkit-linear-gradient(top, #f0f0fe, #cdcdcd);
    background: -o-linear-gradient(top, #f0f0fe, #cdcdcd); 
    background: -ms-linear-gradient(top, #f0f0fe, #cdcdcd); 
    background: linear-gradient(top, #f0f0fe, #cdcdcd); 
}
.right_col h1
{
	margin: 0;
	padding: 20px 0 5px 0;
	font: bold 16px arial;
}
.right_col p
{
	margin:0;
	padding:0;
}
.right_col ul
{
	margin-top:0;
	padding-top: 0;
}
.right_col ol ul li
{
	background: lightcyan;
	font: 16px courier;
}